
style "GeneralFont"
{
	font_name = "Times New Roman, 10"
}

class "*" style "GeneralFont"


style "PanelFont"
{
	font_name = "Times New Roman, 12"
}

widget_class "XfcePanelWindow.PanelItembar*" style "PanelFont"


style "StartButtonFont"
{
	font_name = "Times New Roman, Bold 12"
}

widget_class "XfcePanelWindow.PanelItembar.XfceApplicationsMenuPlugin.GtkToggleButton.XfceHVBox.GtkLabel" style "StartButtonFont"