
style "GeneralFont"
{
	font_name = "Book Antiqua, 9"
}

class "*" style "GeneralFont"


style "PanelFont"
{
	font_name = "Book Antiqua, 9"
}

widget_class "XfcePanelWindow.PanelItembar*" style "PanelFont"


style "StartButtonFont"
{
	font_name = "Book Antiqua, Bold 10"
}

widget_class "XfcePanelWindow.PanelItembar.XfceApplicationsMenuPlugin.GtkToggleButton.XfceHVBox.GtkLabel" style "StartButtonFont"