

gtk-theme-name = "WindowsClassic"
gtk-icon-theme-name = "WindowsClassic"
gtk-font-name = "Microsoft Sans Serif 10"
#gtk-font-name = "UnPilgi 8"
#gtk-enable-tooltips = 0


gtk_color_scheme = "text_normal:#000000"		# (WindowText=0 0 0)
gtk_color_scheme = "text_focused:#FFFFFF"		# (HilightText=255 255 255)
gtk_color_scheme = "text_insensitive:#D4D0C8"		# (GrayText=212 208 200)
gtk_color_scheme = "bg_focused:#000080"			# (Hilight=0 0 128)
gtk_color_scheme = "widgets_bg:#C0C0C0"			# (Menu=192 192 192)

gtk_color_scheme = "scrollbar:#C0C0C0"			# (Menu=192 192 192)
gtk_color_scheme = "scrollbar_bg:#D4CFC7"		# (Scrollbar=212 207 199)
gtk_color_scheme = "stepper:black"
gtk_color_scheme = "expander:black"

gtk_color_scheme = "container_bg:#FFFFFF"		# (Window=255 255 255)

gtk_color_scheme = "titlebar_text:#FFFFFF"		# (TitleText=255 255 255)
gtk_color_scheme = "titlebar_bg:#000080"		# (ActiveTitle=0 0 128)
gtk_color_scheme = "titlebar_text_inactive:#C0C0C0"	# (InactiveTitleText=192 192 192)
gtk_color_scheme = "titlebar_bg_inactive:#808080"	# (InactiveTitle=128 128 128)

gtk_color_scheme = "desktop_icon_text:white"
gtk_color_scheme = "desktop_icon_text_selected:white"
gtk_color_scheme = "desktop_icon_text_active:white"

gtk_color_scheme = "tooltips_text:#000000"		# (InfoText=0 0 0)
gtk_color_scheme = "tooltips_bg:#FFFFFF"		# (InfoWindow=255 255 225)


