
style "GeneralFont"
{
	font_name = "Century Gothic, Italic 8"
}

class "*" style "GeneralFont"


style "PanelFont"
{
	font_name = "Century Gothic, 12"
}

widget_class "XfcePanelWindow.PanelItembar*" style "PanelFont"


style "StartButtonFont"
{
	font_name = "Century Gothic, Bold 12"
}

widget_class "XfcePanelWindow.PanelItembar.XfceApplicationsMenuPlugin.GtkToggleButton.XfceHVBox.GtkLabel" style "StartButtonFont"